@model Registrationform.Models.ForgotPassword

@{
    ViewData["Title"] = "Forgot Password";
}

<style>
    main{
        background-color : #b6e0e5f2;
    }
</style

<h4>Forgot Password</h4>

<hr />

<div class="container">
    
        <h6>Provide email to get reset code</h6>
        <form asp-action="ForgotPassword">
            @*<span class="text-success">@ViewBag.message</span>
            <span class="text-danger">@ViewBag.msg</span>*@
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-Validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Get Code" class="btn btn-primary"/>
            </div>

        </form>
</div>

<div>
    <a asp-action="ResetPassword">Use Reset Code Here</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @if (ViewBag.message != null)
    {
                        <script type="text/javascript"> 
                          toastr.success('@ViewBag.message');
                        </script>
    }
    @if (ViewBag.msg != null)
    {
                        <script type="text/javascript">
                            toastr.error('@ViewBag.msg');
                        </script>
    }
}

