@{
    ViewData["Title"] = "Home";
} 

<style>
    main{
        background-color : #b6e0e5f2;
    }
</style

<div class="container">
    <div class="text-center"><h3>National Resident Registration</h3></div><br /><div class="text-center">
        <p style="font-size: 18px; color:darkmagenta">
            The National Resident Registration is a portal where user can create account and login.<br />
            This is a login and registration system and it is a web application. Technologies used are .NET 6, Entity Framework Core, MVC(Architecture Pattern) and SQL.<br />
            There are three modules in the system Login, Register and Forgot Password. The forms containing these modules are simple, familiar and straight to the point <br />
            These forms have field of entering personal details which include Name, Email, Contact Number, Country, State, City.<br />
            National Resident Registration is made with concern of complete User Journey.<br />
            This portal also has functionality of Forgot Password by using that user can reset the password by providing required credentials.<br />
        </p>
    </div>    
</div>