@model Registrationform.Models.ResetPassword

@{
    ViewData["Title"] = "Reset Password";
}

<style>
    main{
        background-color : #b6e0e5f2;
    }
</style

<h4>Reset Password</h4>
<hr />

<div class="container">
        <form asp-action="ResetPassword">
            @*<span class="text-danger">@ViewBag.message</span>*@

            <div class="form-group mb-3">
                <label asp-for="ResetCode" class="control-label"></label>
                <input asp-for="ResetCode" class="form-control" />
                <span asp-Validation-for="ResetCode" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-Validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-Validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

        </form>
</div>

<div>
    <a asp-action="Login">Click Here To Login</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @if (ViewBag.message != null)
    {
                        <script type="text/javascript">
                          toastr.error('@ViewBag.message');
                        </script>
    }
}


